.App {
text-align: center;
  border: 2px solid rgb(80, 123, 158);
  
  width: 80px;
  border-radius: 10px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20% auto ;
  padding: 10px 20px 10px 20px;
  box-shadow: 10px 10px 30px rgb(34, 32, 33);
 


}
:hover.App{
  background-color: rgb(96, 96, 151);

}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20% auto ;
  margin-top: -200px;
}
